## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [34]:
s = "Hi there Sam!"

In [40]:
s.split(" ")

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [32]:
print("The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth", diameter = 12742))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [41]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [199]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d.get('k1',{})[3].get('tricky',{})[3].get('target',{})[3])

hello

** What is the main difference between a tuple and a list? **

In [200]:
#Tuples are written inside () brackets
saw = () #empty tuple
type(saw)

tuple

In [201]:
#Lists are written inside [] brackets
saw = [] #empty list
type(saw)

list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [234]:
def email(domain):
  if "@" in domain:
     return domain.split("@")[1]

email("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [238]:
def word(name):
  if "dog" in name:
     return True
  else:
    return False

word("The is a Dog named Tommy")

False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [240]:
def word(name):
  if "dog" in name:
     return name.count("dog")
  else:
    return 0

word("The is a dog named Tommy  and a dog named Braddy and a dog named Sheldon & all the dogs always play together")

4

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [241]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

caught_speeding(87, False)

'Big Ticket'

In [244]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

caught_speeding(82, True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [257]:
Employees = ["Ram", "Sam", "Avon", "Bob", "Annie"]
length = len(Employees)
exp = 0

for i in range(0, length):
  Salary = int(input("Enter the salary of these employees: "))
  exp = exp + Salary

print("Total Salary Expenditure: ",exp)

Enter the salary of these employees: 29000
Enter the salary of these employees: 37000
Enter the salary of these employees: 45000
Enter the salary of these employees: 57500
Enter the salary of these employees: 63700
Total Salary Expenditure:  232200

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [263]:
Employee_1 = {'Empid': 1010, 'Empname': 'Sharma', 'Basicpay': 42000}
Employee_2 = {'DeptName': 'Writring', 'DeptId': 2000}
Employee_1.update(Employee_2)
print(Employee_1)

{'Empid': 1010, 'Empname': 'Sharma', 'Basicpay': 42000, 'DeptName': 'Writring', 'DeptId': 2000}